@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');

.instructionWindow {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  height: 100%;
  background-color: #489BB4;
}

.instructionWindow h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  color: white;
  flex-direction: row;
  background-color: #093E5C;
  margin-top: 0;
  margin-bottom: 30px;
  height: 20%;
}

.instructionWindow p{
  color: white;
  font-size: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.pickLanguage {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #093E5C;
  height: 20%;
}

.language {
  display: flex;
  background-color: #093E5C;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  height: 50px;
  width: 105px;
  margin: 0;
  color: white;
  border-color:  #093E5C;
  text-align: center;
  justify-content: space-around;
}


.language button:active {
  border: 0;
  background-color: #489BB4;
  box-shadow: 0;
}

.language button:focus {
  outline:0 !important;
}



body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.heading {
  color: white;
  background-color: #093E5C;
  height: 20%;
  display:flex;
  align-items: center;
  justify-content: center;

}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
}

div, section {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}

.game {
  display: block;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #489BB4;
  height: 64%;
}

p {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 20px;
}

.sentence {
  text-align: center;
}

.wordToTranslate{
  font-size: 40px;
}

.choices {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.option {
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  height: 70px;
  width: 170px;
  margin: 0;
  color: white;
  background-color: #093E5C;
  border-color:  #093E5C;
}

.choices button:active {
  border: 0;
  background-color: #489BB4;
  box-shadow: 0;
}

.choices button:focus {
  outline:0 !important;
}


.feedbackSentence {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 200px;
  width: 100%;

}

.feedback {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.endOfPage{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 25px;
  /*flex-basis: 100%;*/
  background-color: #6BC2A0;
  color: white;
  height: 18%;
}

.level {
  font-family: 'Lato', sans-serif;
  font-size: 30px;

}

.startAgain {
  background-color: #093E5C;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  height: 70px;
  width: 200px;
  color: white;
  border-color: #093E5C;
}

.endOfPage button:active {
  border: 0;
  background-color: #6BC2A0;
  box-shadow: 0;
}

.endOfPage button:focus {
  outline:0 !important;
}

.popup {
  display: none;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  height: 100%;
  background-color: #093E5C;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 735px) {

  .instructionWindow {
    font-size: 14 px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .language {
    font-size: 14px;
  }

  .option{
    font-size: 14px;
    height: 50px;
    width: 110px;
  }

  .choices{
    font-size: 12px;
  }

  .sentence {
    font-size: 20px;
  }

  .wordToTranslate{
    font-size: 25px;
  }

  .feedbackSentence {
    font-size: 18px;
  }

  .endOfPage {
    font-size: 12px;
  }

  .startAgain {
    font-size: 12px;
    height: 40px;
    width: 100px;
  }

}

@media screen and (max-width: 420px) {
  .instructionWindow p {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .feedbackSentence {
    font-size: 18px;
  }

   h1 {
    font-size: 51;
  }


  .language {
    font-size: 14px;
  }

  .option{
    font-size: 14px;
    height: 50px;
    width: 110px;
  }

  .choices{
    font-size: 12px;
  }

  .sentence {
    font-size: 20px;
  }

  .wordToTranslate{
    font-size: 25px;
  }

  .feedbackSentence {
    font-size: 18px;
  }

  .level {
    font-size: 20px;
  }

  .startAgain {
    font-size: 12px;
    height: 40px;
    width: 100px;
  }

}
